.loginPage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(63deg, #113f67 50%, #38598b 50%);
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #a2a8d3;
    border-radius: 8px;
    height: 71vh;
    width: 32vw;
    background-color: #a2a8d3;
    animation: fade 0.8s ease-in 1 forwards;
}

.loginPage > h1{
    animation: fade 0.8s ease-in 1 forwards;
}

.login > i {
    color: hsl(224, 92%, 20%);
}

.btn{
    transition: all .8s ease-in-out;
    color: #e7eaf6;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    font-weight: bold;
    background-color: #38598b;
    padding: 10px;
    outline: none;
    border-radius: 8px; 
    margin-right: 7px;
}

.formField{
	position:relative;
	margin-bottom:25px;
}
.formField label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#113f67;	
	transition: all 0.5s ease-in-out;
}
.formField input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:160%;
  padding:8px 0 5px 0;
  font-size:16px;
  color: #113f67;
}

.formField input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #113f67;	
}

.formField input:focus ~ label,
.formField input:valid ~ label{
    transform: translateY(-15px);
	font-size:12px;	
}

.btn:hover{
    cursor: pointer;
    color: #113f67;
    background-color: transparent;
    border: 1px solid #113f67;
}


@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}