.modal{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    
}

.modalContent{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}

.modal button{
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: blue;
    color: white;
}

.modal button:hover{
    cursor: pointer;
}